/* Custom Styles */
body {
    font-family: 'Roboto', sans-serif;
}

.header {
    color: #f8f9fa;
    padding: 0;
    text-align: center;
}

.navbar {
    background-color: #343a40;
}

.navbar-brand, .navbar-nav .nav-link {
    color: #f8f9fa;
}

.navbar-brand:hover, .navbar-nav .nav-link:hover {
    color: #ffc107 !important;
}

.card {
    background-color: #2a2a2a;
    border: none;
}

.card-title, .card-text {
    color: #f8f9fa;
}

.btn-primary {
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-primary:hover {
    background-color: #e0a800;
    border-color: #d39e00;
}

.footer {
    background-color: #343a40;
    color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
}

.btn-login, .btn-logout, .btn-register {
    background-color: #007bff;
    border-color: #007bff;
    color: #f8f9fa;
    margin: 5px;
}

.btn-login:hover, .btn-logout:hover, .btn-register:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.note-btn {
    background-color: #333333;
    border-color: #333333;
    color: #f8f9fa;
    margin: 5px;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    transition: all 0.3s ease-in-out;
}