.form {
    background-color: rgb(212, 214, 215);
    padding: 10px;
    border-radius: 10px;
    transform: translate(21%, 3%);
    width: 70%;
}
.text {
    margin: 10px 0px;
}
.button {
    text-align: end;
    margin-top: 20px;
}
h2 {
    text-align: center;
}
.offcanvas-body {
    background-color: #f8f9fa;
}
.menu-item {
    color: #333;
    background-color: #e0e0e0;
    border: 2px solid #c0c0c0;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    display: block;
    font-size: 1.25rem;
    font-weight: 500;
}
.menu-item:hover {
    background-color: #d0d0d0;
    border-color: #a0a0a0;
    color: #000;
}
.shadow-sm {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

textarea {
    resize: none; /* 禁止使用者手動調整大小 */
    height: auto; /* 使 textarea 根據內容自適應高度 */
}

#id_description, #id_hint { /* 描述與提示框 */
    min-height: 150px;
    max-height: 200px;
}

#id_input_format, #id_output_format,
#id_input_example, #id_output_example { /* 輸入/輸出格式與範例框 */
    min-height: 100px;
    max-height: 120px;
}


.answer-box {
    overflow-y: auto;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    padding: 15px;
    height: 1036px;
}
.CodeMirror.cm-s-default {
    height: 1000px; 
}