{% extends 'base.html' %}
{% load static %}
{% block title %}{{ question.title }}{% endblock %}
{% block content %}
<div class="container mt-4">
    <h1 class="mb-4 text-center">{{ question.title }}</h1>

    <div class="row">
        <!-- 左側：題目區 -->
        <div class="col-md-6">
            <div class="mt-4">
                <h5>題目說明：</h5>
                <p style="white-space: pre-wrap;">{{ question.description }}</p>
                <h5>題目提示：</h5>
                <p style="white-space: pre-wrap;">{{ question.hint }}</p>
                <h5>輸入格式</h5>
                <p>{{ question.input_format }}</p>
                <h5>輸出格式</h5>
                <p>{{ question.output_format }}</p>
                <h5>輸入範例</h5>
                <p>{{ question.input_example }}</p>
                <h5>輸出範例</h5>
                <p>{{ question.output_example }}</p>
            </div>
        </div>

        <!-- 右側：作答區 -->
        <div class="col-md-6">
            <div class="mt-4">
                <form method="POST">
                    {% csrf_token %}
                    <div class="answer-box">
                        <textarea id="answer-editor" name="answer">{{ form.answer.value|default_if_none:"" }}</textarea>
                    </div>
                    {% if status != 'graded' %}
                        <button type="submit" class="btn btn-success mt-2">提交答案</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/codespace.js' %}"></script>
<script src="{% static 'js/answer_submit.js' %}"></script>

{% endblock %}