{% extends "base.html" %}
{% block title %}你的作業{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">作業區</h1>
    <div class="row">
      {% if questions %}
      {% for question in questions %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <a href="{% url 'QuestionAnswer' question.id %}" class="btn">
                    <div class="card-body">
                        <h5 class="card-title">{{ question.title }}</h5>
                        <p class="card-text" style="font-family:微軟正黑體; font-size:12pt; color:gray; text-align: left;">{{ question.description|truncatewords:20 }}</p>
                    </div>
                </a>
            </div>
        </div>
      {% endfor %}
      {% else %}
          <p>目前沒有作業</p>
      {% endif %}
    </div>
</div>
{% endblock %}