<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <header class="bg-dark text-white">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item"><a class="nav-link" href="{% url 'Index' %}">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'Game' %}">Games</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'Notes' %}">Notes</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'About' %}">About</a></li>
                        </ul>
                        <ul class="navbar-nav">
                            {% if user.is_authenticated %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'Logout' %}">Logout</a></li>
                            {% else %}
                                <li class="nav-item"><a id="openLoginModal" class="nav-link" href="{% url 'Login' %}">Login</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'Register' %}">Signup</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <main class="container my-5">
        {% block content %}{% endblock %}
        {% if request.resolver_match.url_name == 'NoteContent' %}
            <a href="{% url 'Notes' %}" class=" note-btn btn position-fixed shadow-lg d-flex align-items-center justify-content-center" onmouseover="this.style.transform='scale(1.1)';" onmouseout="this.style.transform='scale(1)';">
                &#8592;
            </a>
        {% endif %}
    </main>
    <script src="{% static 'js/base.js' %}"></script>
</body>
</html>