/* Custom Styles */
body {
    font-family: 'Roboto', sans-serif;
}

.header {
    color: #f8f9fa;
    padding: 0;
    text-align: center;
}

.game-full {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}  

.card {
    background-color: #2a2a2a;
    border: none;
}

.card-title, .card-text {
    color: #f8f9fa;
}

.footer {
    background-color: #343a40;
    color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
}

.btn-login, .btn-logout, .btn-register {
    background-color: #007bff;
    border-color: #007bff;
    color: #f8f9fa;
    margin: 5px;
}

.btn-login:hover, .btn-logout:hover, .btn-register:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.note-btn {
    background-color: #333333;
    border-color: #333333;
    color: #f8f9fa;
    margin: 5px;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    transition: all 0.3s ease-in-out;
}

#floating-settings {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.settings-toggle {
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
    border-radius: 50%;
    background: #00cfd6;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease-in-out;
}
.settings-toggle img {
    width: 30px;
    transition: transform 0.5s ease-in-out;
}
.settings-toggle.open img {
    transform: rotate(-180deg);
}
.settings-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}
.settings-menu a img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s;
}
.settings-menu a img:hover {
    transform: scale(1.1);
}
.settings-auth,
.settings-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}